{% extends 'base.html' %}

{% block title %}
    BPMS | search
{% endblock %}

{% block content %}
    {% load static %}
    <div class="image">
        <img src="{% static 'image/img_1.png' %}" alt="">
    </div>
    <div class="search-form">
        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="name">Blood Group</div>
                <div class="value">
                    <div class="input-group">
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="bloodgroup">
                                <option disabled="disabled" selected="selected">Choose option</option>
                                <option>O+</option>
                                <option>O-</option>
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="sub_btn" type="submit">Search</button>
            </div>
        </form>
    </div>
    <section class="doctors">
    <!--card code starting here-->
        <div class="container-fluid padding">
            <div class="row padding">
                {% for d in donors %}
                    <div class="col-md-4">
                        <div class="card m-2 p-3" id="{{ d.donor_id }}">
                            <img class="card-img-top" src="{% static 'default.png' %}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{ d.user.first_name }} {{ d.user.last_name }}</h4>
                                <p class="card-text">Blood Group: {{ d.bloodgroup }}.</p>
                                <p class="card-text">Address: {{ d.address }}</p>
                                <form action="{% url 'makeRequest' d.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-success text-light" value="Make Request">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <style>
        .image{
            margin: 30px 0;
        }
        .image img{
            width: 12rem;
            height: 12rem;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
        .search-form{
            width: 19vw;
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: 18px;
        }
        .name{
            font-size: 20px !important;
        }
        .sub_btn{
            background: #de2a2a;
            display: block;
            margin: 0 auto;
            color: #ffffff;
            font-weight: bolder;
            padding: 10px 40px;
            border-radius: 10px;
            transition: .3s all;
        }
        .sub_btn:hover {
            background: #e35656;
        }
        .card{
            width: 25rem;
            margin: 0 20px 30px 0;
            border-radius:30px;
            background: #283747;
        }
        .card .card-img-top{
            border-radius:30px;
            height:220px;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
            border: 1px solid blue;
        }
        .card-title{
            font-size: 20px;
            color: #f0f0f0;
        }
        .card-text{
            font-size: 15px;
            color: #f0f0f0;
            margin-bottom: 5px;
        }
        .card-body .btn.btn-success {
            padding: 0 65px;
            border-radius: 50px;
            margin: 20px 0 0 0;
            border:none;
            transition: 0.6s;
        }
        .doctors{
            margin-bottom: 30px;
        }
    </style>

{% endblock %}